.user-profile-section{
    background-color:black;
    height:100%;
}
.user-profile-section h1{
    color: var(--white);
    font-size: 30px;
    margin: 0;
    padding: 77px 10px 10px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 32px;
}
.user-profile-section h2{
    color: white;
    font-size: 32px;
    margin: 0;
    padding: 25px 10px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 32px;
}
.user-Table{
    padding: 0 10px;
    font-size: 22px;
    width: 100%;
    color: white
}
.user-Table tr{
    color:var(--white)
}
.user-Table th{
    color: white;
    text-align: left;
    text-decoration: underline;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 32px;
}
.user-Table td{
    font-size:20px;
}
.cancel-button{
    font-size: 20px;
    background-color: gray;
    justify-content: center;
    color: var(--white);
}