body{
  margin: 0;
  height: 1000px;
  display: flex; 
  font-family: 'Helvetica Neue', sans-serif;
  text-align: auto;
  font-weight: 300;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html{
  height: 100%;
}

code {
  font-family: 'Helvetica Neue', sans-serif;
}
:root{
  --darkblack:rgba(0,0,0,0.8);
  --blackish:rgba(0,0,0,0.6);
  --white:white; 
}